<ai-table [config]="config()" (rowClick)="rowClick($event)">
    <ng-template aiCellTemplate="name" let-item>
        <ai-badge-category [category]="item" />
    </ng-template>

    <ng-template aiCellTemplate="type" let-item>
        <ai-badge-tp-category [type]="item.type" />
    </ng-template>

    <ng-template aiCellTemplate="remove" let-item>
        <ai-button variant="destructive"
            fill="line"
            icon="delete-bin"
            size="xs"
            (click)="onRemove($event, item)" />
    </ng-template>
</ai-table>
