<ai-table [config]="config()" (rowClick)="rowClick($event)">
    <ng-template aiCellTemplate="type" let-item>
        <ai-badge-tp-investment [type]="item.type" />
    </ng-template>

    <ng-template aiCellTemplate="quantity" let-item>
        {{ item.quantity | number: "1.0-8" }}
    </ng-template>

    <ng-template aiCellTemplate="averagePrice" let-item>
        {{ item.averagePrice | currency }}
    </ng-template>

    <ng-template aiCellTemplate="investedAmount" let-item>
        {{ item.investedAmount | currency }}
    </ng-template>

    <ng-template aiCellTemplate="currentValue" let-item>
        {{ item.currentValue | currency }}
    </ng-template>

    <ng-template aiCellTemplate="profitLoss" let-item>
        @let trend = item.profitLoss | trend;
        <ai-badge fill="line" [variant]="trend.variant">
            <ai-icon-material [icon]="trend.icon" size="sm" />
            {{ item.profitLoss | currency }} ({{ item.profitLossPercent }}%)
        </ai-badge>
    </ng-template>

    <ng-template aiCellTemplate="movements" let-item>
        <ai-button 
            variant="default" 
            fill="line" 
            icon="line-chart" 
            size="xs" 
            aiTooltip="Ver movimentações" 
            (click)="onMovements($event, item)" />
    </ng-template>

    <ng-template aiCellTemplate="remove" let-item>
        <ai-button 
            variant="destructive" 
            fill="line" 
            icon="delete-bin" 
            size="xs" 
            (click)="onRemove($event, item)" />
    </ng-template>
</ai-table>
