<footer class="flex items-center justify-between border-t border-border px-4 py-2 text-xs text-muted-foreground">
    <span>© {{ year }} • <strong class="font-semibold text-foreground">Aiandra</strong></span>

    <div class="flex items-center gap-3">
        <span class="flex items-center gap-x-1">
            <ai-icon icon="rocket-2" size="xs" />
            v{{ version }}
        </span>

        <div class="flex items-center gap-1">
            <a aria-label="GitHub"
                ai-button
                variant="ghost"
                size="xs"
                icon="github"
                target="_blank"
                rel="noopener"
                href="https://github.com/aiandrameira"></a>
            <a aria-label="LinkedIn"
                ai-button
                variant="ghost"
                size="xs"
                icon="linkedin"
                target="_blank"
                rel="noopener"
                href="https://www.linkedin.com/in/aiandralves/"></a>
        </div>
    </div>
</footer>
