<ai-table [pagination]="paginationConfig()" (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)" [config]="config()" (rowClick)="rowClick($event)">
    <ng-template aiCellTemplate="number" let-item>
        <ai-badge variant="default">{{ item.number }}/{{ config().data.length }}</ai-badge>
    </ng-template>

    <ng-template aiCellTemplate="dueDate" let-item>
        @let due = item.dueDate | dueSoon: item.paidAt;
        <ai-badge [variant]="due.variant" [icon]="due.icon" fill="line">{{ due.label }}</ai-badge>
    </ng-template>

    <ng-template aiCellTemplate="amount" let-item>
        {{ item.amount | currency }}
    </ng-template>

    <ng-template aiCellTemplate="status" let-item>
        <ai-badge-st-loan-installment [status]="item.status" />
    </ng-template>
</ai-table>
