<ai-table [pagination]="paginationConfig()" (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)" [config]="config()" (rowClick)="rowClick($event)">
    <ng-template aiCellTemplate="referenceMonth" let-item>
        <ai-badge variant="default" class="capitalize">
            {{ monthLabel(item.referenceMonth) }}
        </ai-badge>
    </ng-template>

    <ng-template aiCellTemplate="status" let-item>
        <ai-badge-st-invoice [status]="item.status" />
    </ng-template>

    <ng-template aiCellTemplate="totalAmount" let-item>
        @let trend = item.totalAmount | trend;
        <ai-badge fill="line" [variant]="trend.variant">
            <ai-icon-material [icon]="trend.icon" size="sm" />
            {{ abs(item.totalAmount) | currency }}
        </ai-badge>
    </ng-template>

    <ng-template aiCellTemplate="dueDate" let-item>
        @let due = item.dueDate | dueSoon: item.paidAt;
        <ai-badge [variant]="due.variant" [icon]="due.icon" fill="line">
            {{ due.label }}
        </ai-badge>
    </ng-template>
</ai-table>
