<ai-table [config]="config()" (rowClick)="rowClick($event)">
    <ng-template aiCellTemplate="date" let-item>
        <ai-badge variant="default">
            {{ item.date | date: "dd/MM/yyyy" }}
        </ai-badge>
    </ng-template>

    <ng-template aiCellTemplate="type" let-item>
        <ai-badge-tp-transaction [type]="item.type" [method]="item.transferMethod" />
    </ng-template>

    <ng-template aiCellTemplate="amount" let-item>
        @if (item.transferMethod === 'pix') {
            <ai-badge fill="line" variant="info" icon="qr-code">
                {{ abs(item.amount) | currency }}
            </ai-badge>
        } @else {
            @let type = item.type | tpTransaction;
            <ai-badge fill="line" [variant]="type.variant" [icon]="trendIcon(item.type) ? undefined : type.icon">
                @if (trendIcon(item.type); as icon) {
                    <ai-icon-material [icon]="icon" size="sm" />
                }
                {{ abs(item.amount) | currency }}
            </ai-badge>
        }
    </ng-template>

    <ng-template aiCellTemplate="description" let-item>
        <div class="max-w-56 overflow-hidden whitespace-nowrap text-ellipsis">
            {{ item.description }}
        </div>
    </ng-template>
    
    <ng-template aiCellTemplate="status" let-item>
        <ai-badge-st-transaction [status]="item.status" />
    </ng-template>

    <ng-template aiCellTemplate="remove" let-item>
        <ai-button variant="destructive"
            fill="line"
            icon="delete-bin"
            size="xs"
            (click)="onRemove($event, item)" />
    </ng-template>
</ai-table>