<ai-table [config]="config()" (rowClick)="rowClick($event)">
    <ng-template aiCellTemplate="accountId" let-item>
        @if (account(item.accountId); as account) {
            @let accountBadge = account.type | tpAccount;
            <ai-badge [icon]="accountBadge.icon" [variant]="accountBadge.variant" fill="line">{{ account.name }}</ai-badge>
        }
    </ng-template>

    <ng-template aiCellTemplate="limitAmount" let-item>
        {{ item.limitAmount | currency }}
    </ng-template>

    <ng-template aiCellTemplate="closingDay" let-item>
        Dia {{ item.closingDay }}
    </ng-template>

    <ng-template aiCellTemplate="dueDay" let-item>
        Dia {{ item.dueDay }}
    </ng-template>

    <ng-template aiCellTemplate="remove" let-item>
        <ai-button variant="destructive"
            fill="line"
            icon="archive"
            size="xs"
            (click)="onRemove($event, item)" />
    </ng-template>
</ai-table>
