<ai-table [config]="config()" (rowClick)="rowClick($event)">
    <ng-template aiCellTemplate="type" let-item>
        <ai-badge-tp-account [type]="item.type" />
    </ng-template>

    <ng-template aiCellTemplate="currentBalance" let-item>
        @let trend = balanceTrend(item.currentBalance);
        <ai-badge fill="line" [variant]="trend.variant">
            <ai-icon-material [icon]="trend.icon" size="sm" />
            {{ abs(item.currentBalance) | currency }}
        </ai-badge>
    </ng-template>

    <ng-template aiCellTemplate="projectedBalance" let-item>
        @let trend = balanceTrend(item.projectedBalance);
        <ai-badge fill="line" [variant]="trend.variant">
            <ai-icon-material [icon]="trend.icon" size="sm" />
            {{ abs(item.projectedBalance) | currency }}
        </ai-badge>
    </ng-template>

    <ng-template aiCellTemplate="remove" let-item>
        <ai-button variant="destructive"
            fill="line"
            icon="archive"
            size="xs"
            (click)="onRemove($event, item)" />
    </ng-template>
</ai-table>