<ai-table [config]="config()" (rowClick)="rowClick($event)">
    <ng-template aiCellTemplate="type" let-item>
        <ai-badge-tp-asset [type]="item.type" />
    </ng-template>

    <ng-template aiCellTemplate="purchaseValue" let-item>
        {{ item.purchaseValue | currency }}
    </ng-template>

    <ng-template aiCellTemplate="currentValue" let-item>
        @let trend = item.currentValue | trend: item.purchaseValue;
        <ai-badge fill="line" [variant]="trend.variant">
            <ai-icon-material [icon]="trend.icon" size="sm" />
            {{ item.currentValue | currency }}
        </ai-badge>
    </ng-template>

    <ng-template aiCellTemplate="remove" let-item>
        <ai-button 
            variant="destructive" 
            fill="line" 
            icon="delete-bin" 
            size="xs" 
            (click)="onRemove($event, item)" />
    </ng-template>
</ai-table>
